body {

background-color: rgb(239, 239, 239);

}

h1 {

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 60px;

}

h2 {

font-size: medium;
font-style: italic;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.backround {

    
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the image horizontally and vertically */
      

}

.style-btn {


    background-color: #e0e0e0;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;

    position: center;

}

.style-btn:hover {
    background-color: #b4b4b4;
  }